<ion-content>

  <ion-card>

    <!-- <ion-list slot="end" *ngFor="let contribuinte of contribuintes">
      <ion-item>
        <ion-label>Nome: {{ contribuinte.nomenorecibo }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Telefone: {{ contribuinte.telefoneprincipal }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cidade: {{ contribuinte.cidadeprincipal }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bairro: {{ contribuinte.bairroprincipal }}</ion-label>
      </ion-item>
      <br>
      <br>
      <br>
    </ion-list> -->

  </ion-card>

</ion-content>