<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            Depositos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-progress-bar color="success"></ion-progress-bar>
    <ion-slides mode="ios" #mySlider>
        <ion-slide>
            <ion-card color="dark">
                <ion-card-header>
                    <ion-card-title>Comunicado de Depósito</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Olá {{ usuario?.login }}, antes de iniciar observe o seguinte:</p>
                    <p>* Você precisa ter impresso o resumo do dia.</p>
                    <p>* Ter os comprovantes dos depósitos em mãos.</p>
                    <p>* Se tiver despesa, precisa da nota de despesa.</p>
                    <br>
                    <p>1º Passo: Informe a data do recebimento e o valor do deposito</p>
                    <ion-row text-center>
                        <ion-col>
                            <ion-button shape="round" color="success" class="calendarDeposito" fill="outline">
                                <ion-icon slot="start" name="calendar"></ion-icon>
                                <ion-datetime cancelText="Cancelar" done-text="Ok" (ionChange)="selectDtDeposito( $event )" [ngModel]="dtDeposito.toISOString()" display-format="DD/MM/YYYY"></ion-datetime>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="dark">
                <ion-card-content>
                    <p>2º Passo: Clique na entidade, e observe se os valores estão estão de acordo com o resumo que você imprimiu.</p>
                    <br>
                    <ion-label>Entidade:</ion-label>
                    <ion-select placeholder="Qual entidade?" (ionChange)="selectByEntity( $event )" [(ngModel)]="deposito.entidade">
                        <ion-select-option value="Hospital do Cancer de Uberlandia">Hospital do Cancêr de Uberlândia</ion-select-option>
                    </ion-select>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="dark">
                <ion-card-content>
                    <p>3º Passo: Informe o código de validação que foi impresso no final do resumo.</p>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Código" (ionChange)="selectByCodValidacao( $event )" [(ngModel)]="deposito.codvalidacao"></ion-input>
                    </ion-item>
                    <br>
                    <br>
                    <p>Caso tenha alguma despesa autorizada, favor informar nos campos abaixo.</p>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Valor despesa" (ionChange)="selectByValorDespesa( $event )" [(ngModel)]="deposito.valordespesa"></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="text" placeholder="Descrição despesa" (ionChange)="selectByDetailDespesa( $event )" [(ngModel)]="deposito.descricaodespesa"></ion-input>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card class="cardImage" color="dark">
                <ion-card-header>
                    Enviar imagem do comprovante
                </ion-card-header>
                <ion-item color="dark">
                    <ion-button color="success" expand="block" ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</ion-button>
                    <!-- <button ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">Galeria</button> -->
                </ion-item>
                <ion-item color="dark" *ngIf="picture">
                    <ion-img [src]="picture"></ion-img>
                </ion-item>
                <ion-item color="dark">
                    <ion-button *ngIf="picture" fill="outline" color="danger" (click)="cancel()">Descartar imagem</ion-button>
                </ion-item>
                <ion-item color="dark">
                    <ion-button *ngIf="picture" color="success" (click)="salvar()" (click)="presentLoading()">Comunicar Deposito</ion-button>
                </ion-item>
            </ion-card>
        </ion-slide>

    </ion-slides>
    <br>
    <br>

    <ion-row text-center>
        <ion-col>
            <ion-button [style.visibility]="isVisible ? 'visible' : 'hidden'" class="buttonNext" shape="round" color="success" (click)="slideNext()">
                Continuar
            </ion-button>
        </ion-col>
    </ion-row>


</ion-content>