.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

ion-slides {
    width: 90%;
}

.buttonNext {
    position: fixed;
    top: 85%;
    right: 33%;
}

.calendarDeposito {
    position: fixed;
    top: 77%;
    right: 30%;
    //--ripple-color: #192035 !important;
}