
.custom-icon {
    font-size: 58px;
}

.position {
    position: fixed;
    height: 20%;
    right: 0%;
    left: 0px;
    --ripple-color: white !important;
}
.position-label {
    position: fixed;
    margin-top: 27%;
    right: 0%;
    left: 0px;
}