<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Benefícios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center color="light">

  <ion-row>
    <ion-col>
      <ion-button class="position" shape="round" fill="clear">
        <ion-icon class="custom-icon" src="assets/icon/fuel.svg"></ion-icon>
      </ion-button>
      <ion-label class="position-label">Combustível</ion-label>
    </ion-col>
  </ion-row>


</ion-content>
