<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-avatar class="avatarPosition">
        <img class="circle" [src]="usuario?.imageUrl || 'assets/avatars/avatar-blank.png'" />
    </ion-avatar>
    <h2 style="margin-top: 30%;" text-center>{{usuario?.login}}</h2>
    <p text-center>Email: {{usuario?.email}}</p>
</ion-content>