.text-1 {
    position: fixed;
    right: 0px;
    left: 30px;
    font-style: oblique;
    font-weight: bold;
}

ion-item {
    --padding-bottom: 1px !important;
}

.buttonAction {
    position: fixed;
    bottom: 5px;
    width: 95%;
}

.dateModel {
    position: fixed;
    font-size: 0px;
}