.mainSlide,
.mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 120px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

.gridPosition {
    position: fixed;
    bottom: 35%;
    right: 10%;
    left: 10%;
}

ion-item {
    --color: #10dc60;
    --background: none;
    --highlight-height: 1px;
}

.developer {
    position: fixed;
    top: 94%;
    font-size: 11px;
}

.positionLogo {
    position: fixed;
    top: 89%;
    right: 35%;
    left: 35%;
}

.circle {
    width: 40%;
    border-radius: 100%;
    margin: 25px auto 0 auto !important;
}