<ion-content text-center color="dark">

    <ion-grid class="gridPosition">

        <ion-row text-center>
            <ion-col>
                <img src="/assets/avatars/av-6.png">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>

                <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input name="email" type="text" [(ngModel)]="creds.email"></ion-input>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Senha</ion-label>
                    <ion-input name="password" type="password" [(ngModel)]="creds.password"></ion-input>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col>
                <ion-button type="submit" color="success" shape="round" (click)="logar()">
                    Entrar
                </ion-button>
            </ion-col>
        </ion-row>

        <!-- <ion-row class="positionLogo">
            <ion-col>
                <img src="/assets/icon/logo-glpv.jpg">
            </ion-col>
        </ion-row> -->

    </ion-grid>

    <ion-textarea class="developer" disabled="true" placeholder="@GLPV - Developed by Farley De Souza."></ion-textarea>

</ion-content>