.button-1 {
    position: fixed;
    bottom: 69%;
    left: 0px;
    right: 40%;
    --ripple-color: white !important;
    --border-radius: 50%;
}

.label-1 {
    position: fixed;
    bottom: 65%;
    left: 0px;
    right: 40%;
}

.button-2 {
    position: fixed;
    bottom: 69%;
    left: 40%;
    right: 0px;
    --ripple-color: white !important;
    --border-radius: 50%;
}

.label-2 {
    position: fixed;
    bottom: 65%;
    left: 40%;
    right: 0px;
}

.button-3 {
    position: fixed;
    bottom: 47%;
    left: 0px;
    right: 40%;
    --ripple-color: white !important;
    --border-radius: 50%;
}

.label-3 {
    position: fixed;
    bottom: 43%;
    left: 0px;
    right: 40%;
}

.button-4 {
    position: fixed;
    bottom: 47%;
    left: 40%;
    right: 0px;
    --ripple-color: white !important;
    --border-radius: 50%;
}

.label-4 {
    position: fixed;
    bottom: 43%;
    left: 40%;
    right: 0px;
}

.button-5 {
    position: fixed;
    bottom: 23%;
    left: 0px;
    right: 40%;
    --ripple-color: white !important;
    --border-radius: 50%;
}

.label-5 {
    position: fixed;
    bottom: 19%;
    left: 0px;
    right: 40%;
}

.button-6 {
    position: fixed;
    bottom: 23%;
    left: 40%;
    right: 0px;
    --ripple-color: white !important;
    --border-radius: 50%;
}

.label-6 {
    position: fixed;
    bottom: 19%;
    left: 40%;
    right: 0px;
}

.Developer {
    position: fixed;
    top: 94%;
    right: 0%;
    left: 0%;
    font-size: 11px;
}

.datetime-text {
    position: fixed !important;
    font-size: 0px !important;
    
}

ion-toggle{
    --background-checked: #2fdf75;
    --handle-background: #2fdf75;
    --handle-background-checked: #2fdf75;
}



