<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Contribuições</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-button color="success" slot="end" fill="clear">
            <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-button color="success" slot="end" (click)="filtrarRecibos()">
            <ion-icon name="funnel"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles" refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list *ngFor="let lista of listaDeRecibos" [ngSwitch]="lista.reagendado">
                    <ion-card (click)="verDetalhes( lista.nrorecibo )" button="true">
                        <ion-item *ngSwitchCase="'S'" style="color:#4c8dff">
                            <ion-label><b>Nome:</b> {{ lista.nomenorecibo }}</ion-label>
                        </ion-item>
                        <ion-item *ngSwitchCase="'S'" style="color: #4c8dff">
                            <ion-label><b>Endereço:</b> {{ lista.enderecosecundario +", "+ lista.numerosecundario +", "+ lista.bairrosecundario +", "+ lista.cidadesecundario }}</ion-label>
                        </ion-item>
                        <ion-item *ngSwitchCase="'S'" style="color: #4c8dff">
                            <ion-label><b>Data da cobrança:</b> {{ lista.dtcobranca }}</ion-label>
                        </ion-item>
                        <ion-item *ngSwitchCase="'S'" style="color: #4c8dff">
                            <ion-label><b>Categoria:</b> {{ lista.desccategoria }}</ion-label>
                        </ion-item>
                        <ion-item *ngSwitchCase="'S'" style="color: #d33939">
                            <ion-label><b>Reagendado para:</b> {{ lista.dtreagendamento | date: 'dd/MM/yyyy'}}</ion-label>
                        </ion-item>
                        <ion-item *ngSwitchDefault>
                            <ion-label><b>Nome:</b> {{ lista.nomenorecibo }}</ion-label>
                        </ion-item>
                        <ion-item *ngSwitchDefault>
                            <ion-label><b>Endereço:</b> {{ lista.enderecosecundario +", "+ lista.numerosecundario +", "+ lista.bairrosecundario +", "+ lista.cidadesecundario }}</ion-label>
                        </ion-item>
                        <ion-item *ngSwitchDefault>
                            <ion-label><b>Data da cobrança:</b> {{ lista.dtcobranca }}</ion-label>
                        </ion-item>
                        <ion-item *ngSwitchDefault>
                            <ion-label><b>Categoria:</b> {{ lista.desccategoria }}</ion-label>
                        </ion-item>
                    </ion-card>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>